body{
  font-family: sans-serif;
}

.Topbar{
  background-color:green;
  width: 100%;
  padding: 24px 48px 12px;
  text-align: center;

  position:fixed;
  top: 0;
  left: 0;
}

.Topbar > img{
  width: 100px;

}

.MainContainer{
  padding: 4% 12%;
  margin-top: 32px;
  box-sizing: border-box;

  width: 100%;
  display: flex;
  align-items: center;

}

.ProductPreview{
  width: 50%;
}

.ProductData{
  width: 50%;
}